<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공공데이터</title>
</head>
<body>
    <h2>노선별로 경유하는 정류장의 목록</h2>
	
	<button id = "btn1">정류소 목록 조회</button>
	<br><br>
	<table id = "resultTable" border = "1">
	    <thead id = "resultHead">
			<tr>
				<th>노선 ID</th>
				<th>정류소ID</th>
				<th>정류소명</th>
				<th>정류소번호</th>
				<th>정류소순번</th>
			</tr>
		</thead>
		<tbody id = "resultBody">
		</tbody>
	</table>


    <script>
        const btn = document.getElementById("btn1");
        const resultBody = document.getElementById("resultBody");

        btn.addEventListener("click", () => {

            fetch("busInfo")
            .then(res => res.json())
            .then(data => {

				console.log(data);
				
				// 필요한 것 까지 파고드는 부분 --> 중요!!!!!!!! (다 다름..)
				// 꼭 데이터 확인 후 만든거 키 값에 따라 파고드는 것임..
				const jsonData = data.response.body.items.item;
				console.log(jsonData); // fetch내에서 반복문 돌아야할지 말아야할지도 잘 알아야 함!
				
				resultBody.innerHTML = "";
           	
           		// 배열이면 for문 돌면서 접근하는 것 --> 중요!!!!!!!
                for(let i in jsonData){
                   let item = jsonData[i];
  
                   const row = document.createElement("tr");
                   const routeid = document.createElement("td");
                   routeid.textContent = item.routeid;
                   row.appendChild(routeid);
                   
                   const busNodeId = document.createElement("td");
                   busNodeId.textContent = item.nodeid;
                   row.appendChild(busNodeId);
                   
                   const nodenm = document.createElement("td");
                   nodenm.textContent = item.nodenm;
                   row.appendChild(nodenm);
                   
                   const nodeno = document.createElement("td");
                   nodeno.textContent = item.nodeno;
                   row.appendChild(nodeno);
                   
                   const nodeord = document.createElement("td");
                   nodeord.textContent = item.nodeord;
                   row.appendChild(nodeord);
                   
                   resultBody.appendChild(row);
                }

				
				

            })
            .catch(err => {
                console.log(err);
            })

        });

    </script>

</body>
</html>